*{
  margin: 0px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

h3 {
  padding: 10px;
  color: whitesmoke;
  outline-color: black;
  margin: 30px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  font-size: 23px;
  position: absolute;
  left: 8px;
  bottom: -2rem;
}


body {
  background:#68A05F;
  
}

h1 {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  Height: 600px;
  overflow: hidden;
}


#navbar {
display: flex;
justify-content: flex-end;
align-items: center;
position: fixed;
background: #79CAF9;
width: 100%;
height: 150px;
background-color: #79CAF9;
background: rgba(255,255,255,0.9);
box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
z-index: 9999;
}


/*button*/
#newCard {
  width: 130px;
  height: 60px;
  background-color: lightblue;
  font-size: 1.3rem;
  position: absolute;
  top: -1rem;
  left: 0px;
  right: 100px;
  margin: 70px;
  vertical-align: top;
  border-radius: 8px;
  color: whitesmoke;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: solid;
}



.container {
  background-color: whitesmoke;
  padding: 10px ;
  border-radius: 30px;
  text-align: center;
  box-shadow: lightslategray, 50%;

}

 h2 {
  position: absolute;
  top: -1rem;
  left: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: white;
  outline-color: black;
  margin: 30px;
  vertical-align: top;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}



.pokeDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.charPic {
  width: 100%;
  margin: auto;
}


.picDivs {
width: 100%;
align-items: center;
}


.charDivs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
} 

.scene {
width: 200px;
height: 260px;
border: 1px solid #CCC;
margin: 40px 0;
perspective: 600px;
}

.card {
width: 100%;
height: 100%;
transition: transform 1s;
transform-style: preserve-3d;
cursor: pointer;
position: relative;
}

.card.is-flipped {
transform: rotateY(180deg);
}

.card__face {
position: absolute;
width: 100%;
height: 100%;
line-height: inherit;
color: black;
text-align: center;
font-weight: bold;
font-size: 10px;
backface-visibility: hidden;
}

.card__face--front {
background: url("../assets/images/pokemon\ grass.png")
}

.card__face--back {
background: url("../assets/images/pokemon\ grass.png");
transform: rotateY(180deg);
font-size: 20px;
}

.containerDivs {
height: 75%;

}  

.back {
  font-size: 20px;
}
