*{
  margin: 0px;
}

  
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}


body {
  background:#68A05F;
  
}

h1 {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  Height: 600px;
  overflow: hidden;
}

#newCard {
  width: 220px;
  height: 75px;
  background-color: #68A05F;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 130px;
  margin: 100px;
  display: inline-block;
  vertical-align: top;
  border: black;
  border-radius: 8px;
  color: whitesmoke;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: solid;
}



.container {
  background-color: whitesmoke;
  padding: 10px ;
  border-radius: 30px;
  text-align: center;
  box-shadow: lightslategray, 50%;

}

 h2 {
  position: absolute;
  top: 0;
  left: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  color: white;
  outline-color: black;
  margin: 30px;
  vertical-align: top;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}






.button {
  border: black;
}


.pokeDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.charPic {
  width: 100%;
  margin: auto;
}


.picDivs {
width: 100%;
align-items: center;
}


.charDivs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
} 

.scene {
width: 200px;
height: 260px;
border: 1px solid #CCC;
margin: 40px 0;
perspective: 600px;
}

.card {
width: 100%;
height: 100%;
transition: transform 1s;
transform-style: preserve-3d;
cursor: pointer;
position: relative;
}

.card.is-flipped {
transform: rotateY(180deg);
}

.card__face {
position: absolute;
width: 100%;
height: 100%;
line-height: inherit;
color: black;
text-align: center;
font-weight: bold;
font-size: 10px;
backface-visibility: hidden;
}

.card__face--front {
background: url("../assets/images/pokemon\ grass.png")
}

.card__face--back {
background: url("../assets/images/pokemon\ grass.png");
transform: rotateY(180deg);
}

.containerDivs {
height: 75%;

}  
